<%- include('./partials/header') %>

    <a href="/memes/?category=Gaming">Gaming Memes</a>
    <br>
    <br>
    <a href="/memes/?category=GA">GA Memes</a>
    <br>
    <br>
    <a href="/memes/?category=Covid">Covid Memes</a>
  </body>
</html>

<h5>main index</h5>

<%- include('./partials/footer') %>