<%- include('./partials/header') %>

<div class="mainInd">

    <a id="gaming" class="titleInd" href="/memes/?category=Gaming">Gaming Memes
    </a>
    <br> 
    <br>
    <a id="ga" class="titleInd" href="/memes/?category=GA">GA Memes</a>
    <br>
    <br>
    <a id="covid" class="titleInd" href="/memes/?category=Covid">Covid Memes</a>
  </body>
</html>

</div>

<footer>
	<p>Created by Khawar Khan. © 2021</p>
</footer>
<%- include('./partials/footer') %>