<!DOCTYPE html>
<html>
  <head>
    <title>Whole Lotta Memes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' >
  </head>
  <body>
    <h1>MEMES</h1>
    <a href="/memes/new">Gaming Memes</a>
    <a href="/memes/">Everyday Life Memes</a>
  </body>
</html>
