body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


.indexFlex {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 5px;
  grid-row-gap: 0px; */
  width: 30%;
  height: 30%;
}

.imgs img {
  /* width: 100%;*/
  display: inline-block;
} 